body {
    background-image: url('../images/bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

#headerImg {
    width: 40%;
    padding-bottom: 50px;
}

#container {
    font-family: 'Roboto', sans-serif;
    color: #2B2C28;
}

#wordToGuess {
    line-height: 100px;
    font-size:2vw;
}

#explosion {
    background-image: url('../images/kaboom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.border {
    border: 2px solid red;
}

.spacer {
    padding-left: 50px;
}

/* Flips Pokemon images */
.imgflip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    vertical-align: baseline;
}