body {
    background-image: url(/assets/images/bg3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

#headerImg {
    width: 40%;
}

.border {
    border: 2px solid red;
}

.imgflip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}